*{
    font-family: Arial, Helvetica, sans-serif;
}
div {
    position:absolute;
    top:30%;
    background-color: salmon;
    margin:0 0 0 50px;
}

h1 {
    color:yellowgreen;
}
p{
    color:white;
}